/* Name: Brett Wolfangel
   Assignment: Pretty About You CSS Style Page
   Date: 6/11/2020 */

   h1{font-family: fantasy; color: black; font-style: italic;}
   body{background-color: #bfbfbf}
   footer{font-weight: bold;}
   li{border: 2px solid black;}
   p{font-weight: bold;}
   
